<div class="container my-5">
  <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
      <button type="button" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></button>
      <svg xmlns="http://www.w3.org/2000/svg" ... ></svg>
      <h1 class="text-body-emphasis">Join Us in Making a Difference</h1>
      <p class="col-lg-6 mx-auto mb-4">Sign up today to stay updated on our programs and participate in initiatives that promote economic empowerment.</p>
      <div>
          <a href="{% url 'empowerment:signup' %}" class="btn btn-primary px-5 mb-2">Sign Up</a>
          <a href="{% url 'empowerment:login' %}" class="btn btn-secondary px-5 mb-2">Login</a>
      </div>
  </div>
</div>
