<div class="my-5">
    <div class="p-5 text-center bg-body-tertiary">
        <img width="100" height="100" src="https://img.icons8.com/glyph-neue/100/admin-settings-female.png" alt="admin-settings-female"/>
      <div class="container py-5">
        <h1 class="text-body-emphasis">Financial Services</h1>
        <p class="col-lg-8 mx-auto lead">
            We provide access to financial tools and services that help individuals and businesses manage their finances and grow sustainably.
        </p>
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><a href="{% url 'empowerment:financial_services' %}"class="text-white"style="text-decoration: none" >Learn More</a></button>
      </div>
    </div>
</div>