{% extends 'empowerment/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <section class="intro">
        <div data-aos="zoom-in-up">
            {%include 'empowerment/hero.html'%}
        </div>
    
    </section>
    <hr>

    <section class="features">
        <div class="feature-item" data-aos="fade-right" data-aos-offset="150" data-aos-easing="ease-in-sine">
            
            {% include 'empowerment/finance_feature.html'%}
        </div>
        <hr>

        <div class="feature-item" data-aos="fade-left" data-aos-offset="150" data-aos-easing="ease-in-sine">
            {% include 'empowerment/job_feature.html'%}
        </div>
        <hr>

        <div class="feature-item" data-aos="fade-right" data-aos-offset="150" data-aos-easing="ease-in-sine">
            {% include 'empowerment/wealth_feature.html'%}
        </div>
    </section>
    <hr>

    <section class="cta">
        <div data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
            {% include 'empowerment/call_to_action.html'%}
        </div>
    </section>
</div>
{% endblock %}
