<div class="my-5">
    
    <div class="p-5 text-center bg-body-tertiary">
        <img width="100" height="100" src="https://img.icons8.com/ios-filled/100/permanent-job.png" alt="permanent-job"/>
      <div class="container py-5">
        <h1 class="text-body-emphasis">Job Creation</h1>
        <p class="col-lg-8 mx-auto lead">
            Explore job opportunities and learn how to create employment through entrepreneurship and business initiatives.
        </p>
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><a href="{% url 'empowerment:job_listings' %}"class="text-white"style="text-decoration: none" >Learn More</a></button>
      </div>
    </div>
</div>