<div class="my-5">
    <div class="p-5 text-center bg-body-tertiary">
        <img width="100" height="100" src="https://img.icons8.com/material/100/split-files.png" alt="split-files"/>
      <div class="container py-5">
        <h1 class="text-body-emphasis">Wealth Distribution</h1>
        <p class="col-lg-8 mx-auto lead">
            Learn about initiatives that focus on equitable wealth distribution and how they impact communities for the better.
        </p>
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><a href="{% url 'empowerment:wealth_initiatives' %}"class="text-white"style="text-decoration: none" >Learn More</a></button>
      </div>
    </div>
</div>